:root {
  --c-primary-light: #ffffff;
  --c-background: #2e2f42;
  --c-hover: #404bbf;
  --c-text: #434455;
  --c-white-text: #f4f4fd;
  --c-logo: #4d5ae5;
  --c-border: #e7e9fc;
  }
  
  /* BODY */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--c-text);
  background-color: var(--c-primary-light);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  }

ul {
  list-style-type: none;
  padding-left: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

a{
  color:inherit;
}
p {
  margin: 0;
}
  
h1,
h2,
h3 {
  color: var(--c-background);
  margin: 0;
}
  
img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
  
.accent-color{
  color: var(--c-logo)
}

.container{
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

/* =====================(MOBILE) HEADER STYLE========================*/
.nav-list{
  display: none;
}

.add-link{
  display: none;
}

.logo{
color: #4D5AE5;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.logo .accent{
color: #2E2F42;
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}

.container-header{
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}
.header-inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  
.mobile-menu-open-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  fill: #2F2F37;
  line-height: 0;
}
.mobile-menu{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  align-items: center;
  justify-content: space-between;

  transform: translateX(100%);
}
.mobile-menu.is-open{
  transform: translateX(0%);
}
.mob-menu-container{
  position: relative;
  margin-top:0;
  margin-bottom: 0;
}
.mobile-menu-close-btn{
  width: 24px;
  height: 24px;
  background-color: transparent;
  fill:#2E2F42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(46, 47, 66, 0.1);
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  line-height: 0;
}

.mob-menu-navigation{
  padding-top: 72px;
  display: flex;
  margin-bottom: 168px;
}
.mob-menu{
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 0;
  margin-top: 0;
  justify-content: center;
}
.mob-menu-item-main:hover,
.mob-menu-item-main:focus{
  color:#404BBF;
}
.mob-menu-item-port:hover,
.mob-menu-item-port:focus{
  color:#404BBF;
}
.mob-menu-item-cont:hover,
.mob-menu-item-cont:focus{
  color:#404BBF;
}

.mob-menu-item-main{
  color: #404BBF;
  margin-bottom: 40px;
}

.mob-menu-item-port{
  margin-bottom: 40px;
}

.mob-menu-address{
  display: flex;
  margin-bottom: 48px;
}

.mob-menu-contact{
  color: #434455;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  justify-content: center;
}
.mob-menu-add-item-tel{
  color: #4D5AE5;
  margin-bottom: 24px;
}
.mob-menu-add-item-tel:hover,
.mob-menu-add-item-tel:focus{
  color:#4D5AE5;
}
.mob-menu-add-item:hover,
.mob-menu-add-item:focus{
  color:#4D5AE5;
}

.mob-f-icons {
  display: flex;
  gap: 40px;
  justify-content: center;
}

.mob-f-icons-site-link {
  width: 40px;
  height: 40px;
}

.mob-f-site-link:hover,
.mob-f-site-link:focus {
  background-color: #31d0aa;
}

.mob-f-site-link {
  width: 100%;
  height: 100%;
  background-color: var(--c-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-f-icon-card {
  fill: rgba(244, 244, 253, 1);
  margin: 8px;
}

}

/*========HERO SECTION==========*/
.hero-section {
  background-color: var(--c-background);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/versions/Dark-bgM@1x.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
  .hero-section{
    background-color: var(--c-background);
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),url('../images/versions/Dark-bgM@2x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
  }
}

.hero-title {
  color: var(--c-primary-light);
  text-decoration: none;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize; 
  text-align: center;
  max-width: 169px;
  margin: 0 auto;
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  color: var(--c-primary-light);
  background-color: var(--c-logo);
  text-align: center;
  letter-spacing: 0.04em;
  line-height: 1.5;
  font-weight: 500;
  border: 16px 32px solid;
  border-radius: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  color: var(--c-primary-light);
  background-color: var(--c-hover);
  cursor: pointer;
}

/*==================SECTION 1==========*/
.advantages-icon{
  display: none;
}
.advantages-list{
  margin-top: 96px;
  margin-bottom: 96px;
}
.advantages-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: 72px;
  max-width: 100%;
}
.advantages-title {
  color: var(--c-background);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;

}

.advantages-text {
  font-weight: 500;
  max-width: 100%;
}

/*==================SECTION 2==========*/

.team-section {
  background-color: var(--c-white-text);
  padding: 96px 0;
}

.hero-team-title {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-cards {
  display: flex;
  max-width: 264px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0, auto;
  gap: 72px;

}

.card-one {
  background-color: var(--c-primary-light);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0;
  max-width: 264px;
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
  background-color: var(--c-primary-light);
}
.team-text {
  font-weight: 400;
  text-align: center;
  background-color: var(--c-primary-light);
  margin-bottom: 8px;
}

.icons-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.site-link {
  width: 40px;
  height: 40px;
}

.icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--c-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; 
  transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.icon-link:hover,
.icon-link:focus {
  background-color: var(--c-hover)
}

.icon-card {
  fill: rgba(244, 244, 253, 1);
}

/* =====================(/MOBILE) HEADER STYLE========================*/


@media screen and (min-width: 768px){
  .container{
    max-width: 768px;
  }
}
/* =====================(TABLET) HEADER STYLE========================*/

/* =====================(/TABLET) HEADER STYLE========================*/

@media screen and (min-width: 1158px){
  .container{
    max-width: 1158px;
  }
}
/* =====================(DESKTOP) HEADER STYLE=======================*/

/* =====================(/DESKTOP) HEADER STYLE=======================*/